* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    object-fit: cover;

}

body {
    margin: 30px 60px;
    background-color: rgba(244, 232, 215, 0.572);
    position: relative;
}

img {
    height: 30px;
}

container {
    display: flex;
    flex-wrap: wrap;
    gap:140px;

}
h1 {
    font-size: 50px;
    margin: 40px 0;
    line-height: 75px;
}

span {
    color: rgb(15, 15, 128);
}

.content {
    display: flex;
    position: relative;
    overflow: hidden;
    text-align: start;
    flex: 1 1 24px;
    height: 450px;
}
 
.content img {
    height: 140px;
    margin-right: 40px;
}

.content .text {
   margin-top: 10px;
}

.content .text h4 {
    font-size:18px;
    margin-bottom: 16px;
}

.content .text p {
    font-size: 14px;
}

h5 {
    color: rgb(15, 15, 128);
    font-size: 18px;
    float: right;
   
}

@media (max-width: 63.9375em) {
    img {
        height: 20px;
    }
    body {
        margin:30px 10px 50px 10px;
    }
   h1 {
    font-size: 30px;
    line-height: 40px;
   }

   .content .text h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
   }

   .content{
    height: 360px;
    display: block;
   }

   container {
    margin: 20px 0;
    display: block;
   }

   .content img {
    margin: 0;
    width: 100%;
    height: 200px;
   }

   h5 {
    font-size: 14px;
   }
} 